/* Your app styles here */

.supply-item {
  text-align: center;
  border-radius: 40%;
}


.big {
  font-size: 2em;
  font-weight: bold;
  color: black;
  line-height: 0.8;
}

.small {

  font-weight: bold;
  font-variant: all-petite-caps;
  color: black;
  line-height: 0.6;
}
