/* Your app styles here */

.sh-supply-item {
  text-align: center;
  border-radius: 40%;
}


.sh-big {
  font-size: 2em;
  font-weight: bold;
  color: black;
  line-height: 0.8;
}

.sh-small {

  font-weight: bold;
  font-variant: all-petite-caps;
  color: black;
  line-height: 0.6;
}


.sh-how-to {
  background-color: orange;
}


.sh-center-content {
  max-width: 768px;
  /*max-width: 900px;*/
  margin-left: auto;
  margin-right: auto;
}

.sh-center-element {
  margin: auto;
}
